{% extends "base.html" %}
{% block content%}
<h1 > hellp</h1>
<form>
    <input name="search" class="form-control" placeholder="Поиск по названию" value="{{request.GET.search}}">
    <button class="btn btn-primary"> поиск</button>
</form>

<a href="{% url 'article_table' %}"><button class="btn btn-info">таблица</button> </a>
<div class="row row-cols-1 row-cols-lg-3 row-cols-xl-4 row-cols-md-2 g-4">
    {% for art in article_list%}  
    <div class="col">
        <div class="card h-100"  >
            {%if art.img%}
            <img src="{{art.img.url}}" class="card-img-top" alt="...">
            {%endif%}
            <div class="card-body">
                <h5 class="card-title">{{art.name|capfirst}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{art.journal.name}} {{art.date.year}}</h6>
                <p class="card-text">{{art.desctiption| truncatechars:100}}</p>
                <a href="https://doi.org/{{art.doi}}" target="_blank" class="btn btn-info">Go</a>
                <a href="{{art.get_absolute_url}}"  class="btn btn-primary">читать</a>
            </div>

      <div class="card-footer">
          <small class="text-muted">{{art.get_all_author_name}}</small>
        </div>
      </div>
    </div>

    {%endfor%}
</div>

{%endblock%}
{%block fotter%}
{%endblock%}
